<div class="container-fluid mt-5">
  <div class="row align-content-center d-flex justify-content-center">
    <div class="col-4">
      <mat-card>
          <mat-card-header>
              <mat-card-title>Login</mat-card-title>
          </mat-card-header>
          <form #formLogin="ngForm">
          <mat-card-content>
             <div class="row">
               <div class="col-12">
                 <mat-form-field class="w-100">
                   <input type="text"
                          required
                          [(ngModel)]="user.nickname"
                          matInput
                          placeholder="user"
                          name="email">
                 </mat-form-field>
               </div>
               <div class="col-12">
                <mat-form-field class="w-50">
                  <input type="password"
                         required
                         [(ngModel)]="user.password"
                         matInput
                         placeholder="password"
                         name="password">
                </mat-form-field>
              </div>
             </div>
          </mat-card-content>
          <mat-card-actions class="d-flex justify-content-center">
              <button mat-flat-button color="primary" [disabled]="isLoading" class="w-50" mat-button (click)="onSubmit(formLogin)">Submit</button>
          </mat-card-actions>
          </form>
          <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      </mat-card>
    </div>
  </div>
</div>
