<div class="container-fluid mb-2">
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button mat-fab
              matTooltip="Create new Post"
              color="primary"
              (click)="createPost()" >
        <mat-icon >add</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="continer-fluid">
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="(getPostList() | async) as postListItem">
        <mat-table [dataSource]="postListItem" class="w-100 mat-elevation-z8 post-list-table">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th class="idColumn" *matHeaderCellDef> ID </th>
            <td class="idColumn" *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="subTitle">
            <mat-header-cell *matHeaderCellDef> SubtTitle </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.subTitle}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="imgUrl">
            <mat-header-cell *matHeaderCellDef> Imgage Url </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.imgUrl}} </mat-cell>
          </ng-container>

          <div>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td class="trash-icon" *matCellDef="let element">
              <button mat-icon-button
                      (click)="deletePost(element); $event.stopPropagation()"
                      aria-label="Delete Post">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
        </div>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editPost(row)"></mat-row>
        </mat-table>
      </ng-container>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

    </div>
  </div>
</div>
