.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.post-list-table mat-row:hover{
  cursor: pointer;
  background-color: #f4f4f4;
}

:host ::ng-deep .w-100 {
      width: 100%;
  }
