.post-list-table mat-row:hover{
  cursor: pointer;
  background-color: #f4f4f4;
}

:host ::ng-deep .w-100 {
      width: 90%;
  }

  :host ::ng-deep .w-50 {
    width: 10%;
}

.trash-icon{
  padding-left: 24px;
  padding-right: 24px;
}

.idColumn {
  padding-left: 24px;
  padding-right: 24px;
  width: 5%;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px;
}
